<div class="container">
    <!-- now write the code for ngsubmit which help us to modify page without refresh  -->
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
        
          <label for="Title" class="form-label">To Do Title</label>
          <!-- add ng id help us to transfer data  -->
          <input type="text" [(ngModel)]="title" class="form-control" name="title" id="todotitle" aria-describedby="emailHelp">
         
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">To Do Description</label>
          <input type="text" [(ngModel)]="description" name="description" class="form-control" id="description">
        </div>
    
        <button type="submit" class="btn btn-primary">Add To Do item</button>
    </form>
</div>
